.displayGrid{
    background-color: #7fffd4;
    padding: 5rem 0;
}

.grid{
    width: 600px;
    height: 600px;
}

.square{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 2px solid black;
}

.clicked{
    background-color: aqua;
}

#logo img{
    width: 100px;
}